@using Interface_VCENTER.Models
@model AccountViewModels

@{
    ViewBag.Title = "Login";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Login.css")
@Scripts.Render("~/bundles/modernizr")

<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Content/logoSupinfo.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post" action="/Account/Login">
            <input type="text" id="login" class="fadeIn second" name="UserName" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="Password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</div>
